Package: bulk
Version: 0.0.2
Section: devel
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libstdc++6 (>= 5.2)
Installed-Size: 98
Maintainer: my_mail@some_mail.com
Description: h07_bulk built using CMake

